<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929684435465-s62ofbcpqu670agrqp60k6sktnupep9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929684435465-s62ofbcpqu670agrqp60k6sktnupep9o</string>
	<key>API_KEY</key>
	<string>AIzaSyDDWSmNGZvp__nFLTp7jGH_oQnJQzQGuew</string>
	<key>GCM_SENDER_ID</key>
	<string>929684435465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aitoolfun.baseapp</string>
	<key>PROJECT_ID</key>
	<string>ironadexample</string>
	<key>STORAGE_BUCKET</key>
	<string>ironadexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929684435465:ios:e2c155bb76b839764bfed8</string>
</dict>
</plist>