<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559943853739-alebv5kedqd6i34h4ov577r2ea0ivgqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559943853739-alebv5kedqd6i34h4ov577r2ea0ivgqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCRBw-fDuGW8IWNnxTEbfoIJzLLdDMEZGo</string>
	<key>GCM_SENDER_ID</key>
	<string>559943853739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barefootjsc.mvvmc</string>
	<key>PROJECT_ID</key>
	<string>mvvmc-ae99b</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmc-ae99b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559943853739:ios:2710edeaf73255412ff9ee</string>
</dict>
</plist>